body{
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   min-height: 100vh;
   position : relative;
   padding-bottom: 100px;
}
.depan{
   padding-bottom: 50px;
}

h1{
   font-weight: 800;
}
p{
   font-weight:600;
}
.p-ket{
   font-weight: 400;
}
.pilihan{
   display: none;
}
.detail-resi{
   display:none;
}
.handle-error{
   display: none;
}
.keterangan-exs{
   font-family: 'Inter', sans-serif;
   font-size: small;
}
.size-dr{
   width : 207px;
}

.size-dr li{
   display: inline-block;
}

strong{
   font-weight: 600;
}
.p-error{
   font-weight: 400;
}

img{
   width:250px;
}
.a-contact{
   position : fixed;
   bottom: 70px;
   right : 10px;
   z-index: 99;
}
.contact-wa{
   width: 80px;
}

.footer{
   color : rgb(238, 234, 234);
   position : absolute;
   Bottom : 0;
   left : 0;
   right : 0;
   font-size: small;
   background-color: rgb(102, 101, 101);
}
